<!DOCTYPE html>
<html>
  <head>
    <title>bbbbnews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div id="home" class="big-bg">
      <header class="page-header wrapper">
          <h1><a href="/">bbbbnews</a></h1>
          <nav>
            <ul class="main-nav">
              <li><a href="news.html">Player</a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </nav>
        </header>
    </div>
    
    <%= yield %>
    
  </body>
  
  <footer>
        <div class="wrapper">
          <p><small>&copy; 2020 SHUTARO</small></p>
        </div>
      </footer>
      
</html>
